body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin: 0px;
}
section {
    padding: 10px;
}
header{
    font-weight: 900;
    font-family: sans-serif;
    font-size: 2.37rem;
    line-height: 3.83rem;
}
h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2.64rem;
    line-height: 4.23rem;
    font-family: sans-serif;
    margin: 0;
}
h2 {
    font-weight: 900;
    font-size: 2.07rem;
    line-height: 3.43rem;
    font-family: sans-serif;
}
h3 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2.63;
}
p{
    margin: 0 0 10px;
    font-size: 1rem;
    line-height: 1.93rem;
    font-family: sans-serif;
}
pre {
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.42857143;
    color: #333;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas;
}
code {
    padding: 0;
    font-family: Menlo, Monaco, Consolas;
}
p code, li code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas;
    background-color: #f9f2f4;
}
ol {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.93rem;
}
li {
    font-family: sans-serif;
    line-height: 1.93rem;
}
a{
    color: #0D47A1;
    text-decoration: none;
}
dt {
    font-weight: 700;
    line-height: 1.42857143;
    font-family: sans-serif;
}
dd {
    margin-left: 0;
    line-height: 1.42857143;
    font-family: sans-serif;
}

/*User Story #2*/
.main-section {

}

/*User Story #10*/
.nav-link {

}
.video-wrapper {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    width: 80%;
    display: block;
    margin: auto;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    height: 100%;
    /* overflow: hidden; */
}
.outer {
    overflow-y: auto;
}
.sublist {
    list-style-type: disc !important;
    margin-left: 30px;
}

/*User Story #1*/
#main-doc {
    /* display: flex; */
    /* flex-direction: row; */
    overflow: hidden;
    height: 100vh;
    /* box-sizing: border-box; */
}

#title {
    background-color: #0D47A1;
    color: white;
    /* margin: 0px; */
}

/*User Story #4*/
#Introduction {

}
#Section_2 {

}
#Section_3 {

}
#Section_4 {

}
#Section_5 {

}
#title {
    flex: 100%;
}

/*User Story #8*/
#nav-bar{
    flex: 1 0 25%;
    overflow-y: auto;
}
#nav-bar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
#nav-bar header {
    font-size: 1.75rem;
}
#content{
    flex: 75%;
    border-left: solid;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*User Story #15*/
@media only screen and(max-width: 815px){

}