body {
    overflow: hidden;
    margin: 0px;
    font-family: sans-serif;
}
header{
    font-weight: 900;
    font-size: 2.37rem;
    line-height: 3.83rem;
}
h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2.64rem;
    line-height: 4.23rem;
    margin: 0;
}
h2 {
    font-weight: 900;
    font-size: 2.07rem;
    line-height: 3.43rem;
}
h3 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2.63;
}
p{
    margin: 0 0 10px;
    font-size: 1rem;
    line-height: 1.93rem;
}
pre {
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.42857143;
    color: #333;
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 4px;
}
code {
    padding: 0;
    font-family: Menlo, Monaco, Consolas;
}
p code, li code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
    background-color: #f9f2f4;
}
ol {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.93rem;
}
li {
    font-family: sans-serif;
    line-height: 1.93rem;
    margin-bottom: 10px;
}
a{
    color: #0D47A1;
    text-decoration: none;
}
dt {
    font-weight: 700;
    line-height: 1.42857143;
    font-family: sans-serif;
}
dd {
    margin-left: 0;
    line-height: 1.42857143;
    font-family: sans-serif;
}

/*User Story #2*/
.main-section {
    padding-left: 20px;
}
.video-wrapper {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    width: 80%;
    display: block;
    margin: auto;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    height: 100%;
}
.outer {
    overflow-y: auto;
}
.sublist {
    list-style-type: disc !important;
    margin-left: 30px;
}

/*User Story #1*/
#main-doc {
    overflow: hidden;
    height: 100vh;
}
#title {
    background-color: #0D47A1;
    color: white;
}

/*User Story #8*/
#nav-bar{
    flex: 1 0 15%;
    overflow-y: auto;
}
#nav-bar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
#nav-bar header {
    font-size: 1.75rem;
}

/*User Story #15*/
@media only screen and(max-width: 815px){

}